{{#each usercount.parts}}
	<div>
		<h1>{{@key}}</h1>

		<ul>
			{{#each this}}
				<li>{{part.part_id}} ({{part.name}})</li>
			{{/each}}
		</ul>

		<hr>
	</div>
{{/each}}

{{!-- {{#each usercount.setups}}
	<div>
		<h1>{{@key}}</h1>

		<ul>
			{{#each this}}
				{{log this}}
				<li>{{part.part_id}} ({{part.name}})</li>
			{{/each}}
		</ul>

		<hr>
	</div>
{{/each}}

 --}}