<div class="panel green" ng-controller="control_controller">
	<div class="panel_body">


			{{!-- add parts --}}
			<div class="card color1 search_bar_card">
				<div class="card-body">
					<h2>1. Add Parts</h2>
					<div class="row">
						<div class="col-md-6">
							<input type="text" class="huge search_box" placeholder="Part number" ng-model="searchtext" {{!-- ng-blur="clear_searchtext()" --}} />
						</div>
						<div class="col-md-6">
							<input type="text" class="huge search_box_set" placeholder="Set number" ng-model="searchtext_set" {{!-- ng-blur="clear_searchtext()" --}} />
						</div>
					</div>
					<div class="part_search_results light" ng-show="searchtext">

						<div class="loader" ng-show="loading">{{>loader}}</div>
						<div class="no_part" ng-show="no_part"><i class="fa fa-frown-o large"></i>No parts found</div>

						<div class="result row" ng-repeat="found_part in found_parts">
							<div class="col col-md-2">
								<div class="result_image">
									<img ng-src="\{{found_part.part_img_url}}">
								</div>
							</div>
							<div class="col col-md-7">
								<div class="result_part_id">\{{found_part.part_num}}</div>
								{{!-- <div class="result_category">\{{found_part.part_type}}</div> --}}
								<div class="result_name">\{{found_part.name}}</div>
							</div>

							<div class="col col-md-3">
								<button class="btn " ng-click="add_part(found_part.part_num)"><i class="fa fa-save"></i>Add</button>
							</div>

						</div>
					</div>

					<div class="set_search_results light" ng-show="searchtext_set">

						<div class="loader" ng-show="loading">{{>loader}}</div>
						<div class="no_part" ng-show="no_set"><i class="fa fa-frown-o large"></i>No set found</div>

						<div class="result_image">
							<img ng-src="\{{found_set.set_img_url}}">
						</div>

						<div class="result_part_id">\{{found_set.set_num}}</div>
						<div class="part_info">\{{found_set.name}}</div>
						<div class="part_count">\{{found_set.num_parts}} parts</div>
						<div class="wedge-4x"></div>

						<button class="btn" ng-click="add_set(found_set.set_num)"><i class="fa fa-save"></i>Add</button>
					</div>
				</div>
				<div class="card-next"><i class="fa fa-share"></i></div>
			</div>


			{{!-- setup labels --}}
			<div class="card color2 print_chooser_card">
				<div class="card-body">
					<h2>2. Setup labels</h2>

					<div class="control_row">
						<div class="grouped_btn">
							<label class="select">
								<span class="label">Label setup</span>
								<select ng-model="selected_setup_id">
									<option ng-repeat="setup in label_setups" value="\{{setup._id}}">\{{setup.label_setup.label_info.name}}</option>
								</select>
							</label>
							<button class="btn" ng-click="open_label_setup_editor()"><i class="fa fa-cog"></i></button>
						</div>
					</div>
				</div>
				<div class="card-next"><i class="fa fa-share"></i></div>
			</div>


			{{!-- print labels --}}
			<div class="card color3 print_labels_card">
				<div class="card-body">
					<h2>3. Print labels</h2>
					<button ng-class="{'disabled': get_selected_part_count() == 0}" class="btn" ng-click="print_labels()">Print \{{get_selected_part_count()}} labels</button>
				</div>
			</div>


			<div class="clearfix"></div>
	</div>
</div>
