<header class="panel blue" ng-controller="header_controller">
	<div class="panel-body">

		<div class="profile_menu">

			<div class="profile_info">
				<span class="username">\{{user.name}}</span>
				<img src="\{{user.picture}}">
			</div>
			<div class="provile_nav">
				<ul>
					<li ng-click="logout()">Logout</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</header>

<div class="panel green" ng-controller="control_controller">
	<div class="panel-body">
		<div class="row">

			<div class="col-md-4">
				<div class="search_bar">
					<input type="text" class="huge search_box" placeholder="Add part" ng-model="searchtext" />
					<div class="results" ng-show="found_part.name">
						<div class="result">
							<img src="\{{found_part.part_img_url}}">
							<div class="part_name">\{{found_part.name}}</div>
							<button ng-click="add_part()">Add part</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">

			</div>

			<div class="col-md-4">
				<div class="panel-body">
					<button ng-click="print_labels()">Print labels</button>
				</div>
			</div>

		</div>
	</div>

</div>


<div class="panel parts" ng-controller="parts_controller">
	<div class="panel-body">
		<div class="part" ng-class="{'selected': part.selected}" ng-click="select(part.part_id)" ng-repeat="part in parts">
			<img ng-src="\{{part.part_img_url}}">
			<div class="part_name">\{{part.name}}</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>