<div class="modal label_setup_editor" en-modal ng-controller="label_setup_editor_controller">
	<div class="modal-body">

		<div class="close_button" ng-click="close()"></div>

		<div class="row">

			{{!-- setup list --}}
			<div class="col-md-4">
				<ul>
					<li class="setup" ng-repeat="setup in setups">
						<span class="name">\{{setup.label_setup.label_info.name}}</span>

						<span ng-click="edit(setup)" class="btn control_button"><i class="fa fa-cog"></i></span>
						<span ng-click="delete_setup(setup)" class="btn control_button"><i class="fa fa-trash"></i></span>
					</li>
					<li class="setup add_new_setup">
						<input class="tiny" type="text" placeholder="Add new setup" ng-model="new_setups_name">
						<span ng-class="{'disabled': !new_setups_name}" ng-click="add_new_setup()" class="btn control_button"><i class="fa fa-save"></i></span>
					</li>
				</ul>
			</div>

			{{!-- setup editor --}}
			<div class="col-md-8" ng-show="being_edited_setup">

				<div class="row setup_category" ng-repeat="(setup_group_name, setup_group) in being_edited_setup.label_setup">
					<div class="col-md-12">
						<h3 class="setup_category_title"><i class="fa fa-cogs inline"></i>\{{deslug(setup_group_name)}}</h3>
					</div>
					<label class="col-md-6" ng-repeat="(key, value) in setup_group" ng-controller="setup_editor_control_controller">

						<div ng-if="control_type == 'text'">
							<span class="label">\{{deslug(key)}}</span>
							<input class="full" type="text" ng-model="setup_group[key]">
						</div>

						<div ng-if="control_type == 'number'">
							<span class="label">\{{deslug(key)}}</span>
							<input class="full" type="number" ng-model="setup_group[key]">
						</div>

						<div class="checkbox" ng-if="control_type == 'checkbox'">
							<input type="checkbox" ng-model="setup_group[key]">
							<span class="label">\{{deslug(key)}}</span>
						</div>

					</label>
				</div>

				<div class="wedge-3x"></div>
				<div class="btn_row">
					<button class="btn" ng-click="save_setup()">Save setup</button>
					<button class="btn" ng-click="test_print()">Test print</button>
				</div>
			</div>

		</div>
	</div>
</div>